<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/SemanticUICss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    
    @Scripts.Render("~/Content/SemanticUIJs")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    @RenderBody()

    
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
