@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Party Organizer</h2>

<p>@Html.ActionLink("Add guest to the list", "Create", "Guest")</p>

<p>@Html.ActionLink("View Guest list", "Index", "Guest")</p>

<p>@Html.ActionLink("Save all guests to XML", "SaveAllGuests", "Guest")</p>

<p>@Html.ActionLink("Save only attending guests to XML", "SaveAttendingGuests", "Guest")</p>

<p>@Html.ActionLink("Open all guests from XML", "LoadAllGuests", "Guest")</p>
