@model Models.ViewModels.GenderBalanceViewModel

<div class="ui card">
    <div class="content">
        <div class="header">Gender Balance</div>
        <div class="meta"><i class="refresh icon"></i>@Html.ActionLink("Refresh", "Refresh", "Home")</div>
        <div class="description">
            <a class="ui yellow ribbon label">Invited</a>
            <p>Men: @Model.MenInvited</p>
            <p>Women: @Model.WomenInvited</p>
            <a class="ui green ribbon label">Attending</a>
            <p>Men: @Model.MenAttending</p>
            <p>Women: @Model.WomenAttending</p>
        </div>
    </div>
    <div class="extra content">
        @{if(@Model.InvitedWarning != ""){ 
        <p>
            <i class="warning icon"></i>
            @Model.InvitedWarning
        </p>}}
        @{if(@Model.AttendingWarning != "") {
        <p>
            <i class="warning circle icon"></i>
            @Model.AttendingWarning
        </p>}}
    </div>
</div>

@*<div>
    <h4>GenderBalanceViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MenInvited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenInvited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WomenInvited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WomenInvited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenAttending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenAttending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WomenAttending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WomenAttending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvitedWarning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvitedWarning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendingWarning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendingWarning)
        </dd>

    </dl>
</div>*@

