@model Models.DataTransferObjects.GuestDTO

@{
    ViewBag.Title = "Create Guest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<div class="ui negative message" hidden="hidden" id="ErrorMessage">
    <i class="close icon" id="CloseErrorMessage"></i>
    <div class="header">
        There is a trouble with your request
    </div>
    <p id="ErrorMessageText"></p>
</div>

<form class="ui form" id="CreateGuestForm" action="/Guest/Create" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h4 class="ui dividing header">Personal Information</h4>
    <div class="two fields">
        <div class="field">
            <label>Name</label>
            <div class="two fields">
                <div class="field">
                    @Html.TextBoxFor(model => model.Name, new { @placeholder = "Name" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="field">
                    @Html.TextBoxFor(model => model.Surname, new { @placeholder = "Surname" })
                    @Html.ValidationMessageFor(model => model.Surname)
                </div>
            </div>
        </div>
        <div class="field">
            <label>Gender</label>
            @Html.EnumDropDownListFor(model => model.Gender, new { @class = "ui selection dropdown" })
            @Html.ValidationMessageFor(model => model.Gender)
        </div>
    </div>    
    <input type="submit" value="Create" class="ui button"/>
</form>    

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/Developer/GuestCreate.js"></script>
    }
